// app global css

@font-face 
    font-family: "Nunito";
    src: url("../assets/fonts/Nunito/Nunito-Regular.ttf");
@font-face 
    font-family: "Pacifico";
    src: url("../assets/fonts/Pacifico.ttf");
    
body { font-family: "Nunito", serif }

.logo-font
    font-family: "Pacifico"

$colors = { 
    'blueviolet': blueviolet,
    'blue': blue,
    'dodgerblue': dodgerblue,
    'deeppink': deeppink,
    'red': red,
    'orange': orange,
    'yellowgreen': yellowgreen,
    'gold': gold,
    'teal': teal,
    'slategrey': slategrey
}
    
for $color, $i in $colors
    .bg-{$color}
        background: $i
    .shadow-{$color}
        -webkit-box-shadow: 0px 5px 15px -6px $i; 
        box-shadow: 0px 5px 15px -6px $i;
    .text-color-{$color}
        color: $i
    
.shadow-smooth
    -webkit-box-shadow: 0px 5px 20px -5px #dedede; 
    box-shadow: 0px 5px 20px -5px #dedede;


// $colors =   ( 'blueviolet' 'blue' 'dodgerblue' 'deeppink' 'red' 'orange' 'gold' 'yellowgreen' 'teal' 'slategrey')
